*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(206, 206, 206) ;
}
canvas{
    height: 500px !important;
    /* width: 200vh !important; */
}
.container{
    max-width: 960px;
    margin:  0 auto;
    padding: 2rem;
    background-color: #333;
    color: white;
    border-radius: 20px;
}
footer{
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}